// Making link buttons look like buttons
a.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  border-radius: 6px;
  border-color: $mango;
  background-color: $mango;
  color: $snow !important;
  white-space: nowrap;
  text-transform: none !important;
  padding: 10px 16px !important;
}

// Primary donate button (because this theme uses that class for things entirely unrelated)
#primary-menu .btn-donate {
  width: initial !important;
  border-radius: 4px;
  border-color: $mango;
  background-color: $mango;
}
