#primary-menu.menu .menu-item {
  transition : border 200ms ease-out;
  padding-bottom: 10px;
  border-bottom: 4px solid $grimace;
}

.main-navigation a {
  color: $snow !important;
}

#primary-menu.menu .menu-item:hover { border-bottom: 4px solid $mango; }

.main-navigation a:hover,
.main-navigation a:focus {
  color: $mango !important;
}

.main-navigation ul li:hover > a,
.main-navigation ul li:focus > a {
  color: $mango !important;
}
