#primary-menu.menu .menu-item {
  transition : border 200ms ease-out;
  padding-bottom: 10px;
  border-bottom: 4px solid $grimace;
}

#primary-menu a {
  color: $snow !important;
}

#primary-menu.menu .menu-item:hover,
#primary-menu.menu .menu-item:focus,
#primary-menu.menu .menu-item.current-menu-item { border-bottom: 4px solid $mango; }

#primary-menu a:hover,
#primary-menu a:focus,
#primary-menu.menu .menu-item.current-menu-item a  {
  color: $mango !important;
}

#primary-menu li:hover > .btn-donate,
#primary-menu li:focus > .btn-donate,
#primary-menu .btn-donate:hover,
#primary-menu .btn-donate:focus,
.btn-donate:hover,
.btn-donate:focus {
  color: #fff !important;
  text-decoration: underline;
}
