// Removing intro section background image
.intro { background-image: none !important; }

#site-navigation { margin-top: 8px; }

.stats { background-color: $grimace; }

#es_txt_name_pg { display: none }
.es_shortcode_form_name { display: none }

@media only screen and (max-width: 767px) {
  .intro .columns-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.intro .columns-3 {
  text-align: center;
}

.intro .columns-3 .img-holder {
  margin-left: 0 !important;
}

#text-14 { color: $snow; }

.es_textbox_button { width: 150px; background: $mango !important; }

#es_txt_name_pg { display: none; }

.es_shortcode_form_name { display: none; }

#benevolent_pro_contact-3 > .widget-title { color: $noir; }

.intro .columns-3 .img-holder img {
  width: 159px;
  height: 159px;

.header-bottom {
  padding-bottom: 0;
}

#primary-menu.menu .menu-item {
  border-bottom: 4px solid $fog;
}

#primary-menu.menu .menu-item:hover {
  border-bottom: 4px solid $mango;
}
