// Removing intro section background image
.intro {
  background-image: none !important;
}

.stats { background-color: #5A2968 ; }
#text-14 { color: $snow }

.es_textbox_button { width: 150px; background: $mango !important }

#es_txt_name_pg { display: none }
.es_shortcode_form_name { display: none }
