// Removing intro section background image
.intro { background-image: none !important; }

#site-navigation { margin-top: 8px; }

.stats { background-color: $grimace; }

#text-14 { color: $snow; }

.es_textbox_button { width: 150px; background: $mango !important; }

#es_txt_name_pg { display: none; }

.es_shortcode_form_name { display: none; }

#benevolent_pro_contact-3 > .widget-title { color: $noir; }
